.black-box {
	display: inline-block;
	margin-left: -55px;

	.input-container {
		vertical-align: middle;
		white-space: nowrap;
		position: relative;

		input {
			height: 50px;
			width: 100%;
			background: #fff;
			border: none;
			font-size: 10pt;
			float: left;
			color: black;
			padding-left: 45px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border:solid 2px silver;

			@include background-transition(.4s);

			&:hover, &:focus, &:active {
			    outline: none;
			    background: $side-bgcolor;
			    border:solid 2px $side-bgcolor;
			    color: white;
			}
		}
	}
}